MYSQL_DATABASE=secureit
MYSQL_USER=secureit
MYSQL_PASSWORD=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME

SECUREIT_ADMIN_USERNAME=secureit-admin
SECUREIT_ADMIN_EMAIL=secureit-admin@secureit.local
SECUREIT_ADMIN_PASSWORD=CHANGE_ME